extend layout
block content
  h2 Wedding Location
  .location
    p Holy Trinity Catholic Church
    p 3513 N St NW
    p Washington D.C. 20007

  h2 Reception
  .location
    p Smokey Glen Farm
    p 16407 Riffleford Road
    p Gaithersburg, MD 20878
    
  h2 Wedding Party
  h3 Bride's Side
  ul.theparty
    li Laura Fahey
    li Braxton Bragg
    li Brian Hewins
    li Lauren Kunz
    li Jennifer Milian
     
  h3 Groom's Side
  ul.theparty
    li Sean Mellott
    li Ricky Diaz
    li Tim Pennington
    li Santiago Pikula
    li Brian Sparling

  h2 Hotels

  h2 Things to Do