extend layout
block content
  h3
    | Wedding Location
    p
      | Holy Trinity Catholic Church
      | 3513 N St NW
      | Washington D.C. 20007

  h3
    | Reception

  h3
    | Hotels

  h3
    | Things to Do
    <img src='/img/Sailing_001.jpg' alt='Sailboat'>

block sidebar
  .widget
    h1 Fun Facts
    p
      | Kateleigh went to the same college as
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.