!!!5
html
  head
    title Seth & Kateleigh
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .nav-bar
        a.nav-item(href='/proposal') Proposal
        a.nav-item(href='/wedding-party') Wedding Party
        a.nav-item(href='/event-information') Event Information
        a.nav-item(href='/registry') Registry
      h1
        a.title(href='/') seth&kateleigh
      h2 23 May 2015
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p &copy sethandkateleigh.com