doctype html
html(lang='en-US')
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  body(class=['home', 'page'])
    div(class=['full-width', 'header'])
      header.container
        nav.site-nav
          ul#menu-main-navigation.desktop
            li#menu-item-1(class=['proposal', 'menu-item', 'menu-item-1'])
              a(href='/proposal') Proposal
            li#menu-item-2(class=['event', 'menu-item', 'menu-item-2'])
              a(href='/event-information') Event Information
            li#menu-item-3(class=['logo', 'menu-item', 'menu-item-3'])
              a(onclick='testJQuery()') Home
            li#menu-item-4(class=['registry', 'menu-item', 'menu-item-4'])
              a(href='/registry') Registry
            li#menu-item-5(class=['rsvp', 'menu-item', 'menu-item-5'])
              a(href='/rsvp') RSVP
    div(class=['full-width', 'tan'])
      .container
        .heading
          h1 Seth & Kateleigh
            small 23 May 2015
    div(class=['full-width', 'flush-bottom'])
      div(class=['container', 'clearfix'])
        .wedding-party
          ul(class=['wedding-party', 'left'])
            li Laura Fahey
            li Jennifer Bennett
            li Lauren Kuntz
            li Braxton Bragg
            li Bryan Hewins
          ul(class=['wedding-party', 'right'])
            li Sean Mellott
            li Ricky Diaz
            li Tim Pennington
            li Santiago Pikula
            li Brian Sparling
    div(class=['full-width', 'dark-grey', 'flat', 'footer'])
      .container
        .footer-foot
          .info
            p &copy sethandkateleigh.com
    script(src='js/enquire.min.js')
    script(src='js/skrollr.min.js')
    script
      var s = skrollr.init();
    script(src='js/_main.js')