extend layout
block content
  div
    form(id='rsvp', name='passPhrase' method='post' action='getData')
      Registration Phrase: <input type='password' name='regPhrase'>
      <input type='submit' value='Submit'>