extend layout
block content
  p
    | Bride's Side
    ul.theparty
     li Laura Fahey
     li Braxton Bragg
     li Brian Hewins
     li Lauren Kunz
     li Jennifer Milian
     
  p
    | Groom's Side
    ul.theparty
     li Sean Mellott
     li Ricky Diaz
     li Tim Pennington
     li Santiago Pikula
     li Brian Sparling

block sidebar
  .widget
    h1 Fun Facts
    p
      | Kateleigh went to the same college as
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.