/*
 * Import nib
 */
@import 'nib'

/*
 * Add custom fonts
 */
@font-face
  font-family 'riesling'
  src url('/fonts/riesling.ttf') format('truetype')
@font-face
  font-family 'Parisish'
  src url('/fonts/Parisish.ttf') format('truetype')

/*
 * Nib provides a CSS reset
 */
global-reset()

*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

article
aside
details
figcaption
figure
footer
header
hgroup
nav
section
summary
  display block
  
audio
canvas
video
  display inline-block
  *display inline
  *zoom 1

/*
 * Store the main color and
 * background color as variables
 */
main-color = #838383
bg-color = #fffffa
accent-color-1 = #da594c
accent-color-2 = #42c1d5